<body>
  <%= stylesheet_link_tag "custom_home", media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "custom_home"%>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <%= link_to(image_tag("stockMasterLogo.png", alt: "Stock Master Logo", style: "height:50px",), "/")%>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="font-size: 18px;padding-left: 20px">Hello <%= @username%>,</a>
          </li>
          <li class="nav-item"><%= link_to "Create order", orders_create_path, class: "nav-link", style: "font-size: 19px;" %></li>
          <li class="nav-item"><%= link_to "Track order", orders_track_path, class: "nav-link", style: "font-size: 19px;" %></li>
          </ul>
        </li>
        </ul>
        <form class="d-flex " style="flex-grow: 1;padding-left: 20px; padding-right: 20px">
          <input class="form-control me-2 ms auto" type="search" placeholder="Search for products" aria-label="Search" id="searchBar" oninput="search()">
          <input type="button" value="Search" id="searchBtn" onclick="search()" class="btn btn-outline-success"/>
        </form>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="margin-right: 20px;">
          <li class="nav-item">
            <%= link_to "Suppliers Info", suppliers_info_path, class: "nav-link", style: "font-size: 19px;" %>
          </li>
        </ul>
        <div style = "padding-left: 30px;" >
        <%= button_to "Log out", Current.session, method: :delete, class: "btn btn-outline-warning"%>
        </div>
      </div>
    </div>
  </nav>
  <% if (notice)%>
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="height:50px  ">
      <p style="color: green; margin-bottom: 0px;"><%= notice %></p>
    </div>
    <script>
      setTimeout(function() {
        document.querySelector('.alert').remove();
      }, 1600);
    </script>
  <%end %>
  <% if (alert)%>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="height:50px  ">
      <p style="color: red; margin-bottom: 0px;"><%= alert %></p>
    </div>
    <script>
      setTimeout(function() {
        document.querySelector('.alert').remove();
      }, 1600);
    </script>
  <%end %>
  <div class="container-fluid " style="width: 90%;margin-top: 20px">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th style="padding: 11px;"><p class="fw-bold" style="margin-bottom: 0px;font-size: 1.65rem;color: #0076CE;">Product Name</a></th>
          <th style="padding: 11px;"><p class="fw-bold" style="margin-bottom: 0px;font-size: 1.65rem;color: #0076CE;">Category</a></th>
          <th style="padding: 11px;"><p class="fw-bold" style="margin-bottom: 0px;font-size: 1.65rem;color: #0076CE;">Quantity</a></th>
          <th style="padding: 11px;"><p class="fw-bold" style="margin-bottom: 0px;font-size: 1.65rem;color: #0076CE;">Price</a></th>
          <th style="padding: 11px; width:22%;"><p class="fw-bold" style="margin-bottom: 0px;font-size: 1.65rem;color: #0076CE;">Ordering</a></th>
        </tr>
      </thead>
      <tbody>
        <% @stock.each do |data|%>
          <tr>
            <td style="padding: 14px;font-size: 1.28rem;vertical-align: middle;" class="ProductName"><%= data.product_name %></td>
            <td style="padding: 14px;font-size: 1.28rem;vertical-align: middle;"><%= data.category %></td>
            <td style="padding: 14px;font-size: 1.28rem;vertical-align: middle;"><%= data.quantity %></td>
            <td style="padding: 14px;font-size: 1.28rem;vertical-align: middle;"><%= number_with_precision(data.price, precision: 2) %></td>
            <td style="padding: 14px;font-size: 1.28rem;vertical-align: middle;">
              <%= link_to "Order Now", orders_create_path(stock_hint: data.product_name), class: "btn btn-outline-dark", style: "font-size: 18px;float: left;"%>
              <button class="btn btn-outline-dark" style ="font-size: 18px;float: right;" id="showPopupBtn">Ship to warehouse</button>
            </td>
          </tr>
            <div class="overlay" id="overlay">
              <div class="popup">
                <form>
                  <div class="form-row">
                    <div class="form-group col">
                      <label for="warehouse">Warehouse:</label>
                      <input type="text" class="form-control" id="warehouse" required style = "width: 310px;"/>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col">
                      <label for="quantity" style = "margin-top: 5px;">Quantity:</label>
                      <input type="number" class="form-control" id="quantity" required style = "width: 310px;"/>
                    </div>
                  </div>
                  <div class="button-container">
                    <button type="submit" class="btn btn-primary" style="margin-top: 15px;">Submit</button>
                    <button type="button" class="btn btn-secondary" id="closePopupBtn" style="margin-top: 15px; margin-left: 5px;">Cancel</button>
                  </div>
                </form>
              </div>
            </div>
        <% end %>
      </tbody>
    </table>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    function showPopup() {
        $("#overlay").fadeIn();
        $("body").addClass("blur");
    }
    function closePopup() {
        $("#overlay").fadeOut();
        $("body").removeClass("blur");
    }
    $(document).ready(function () {
        $("#showPopupBtn").click(function () {
            showPopup();
        });
        $("#closePopupBtn").click(function () {
            closePopup();
        });
        $(document).on("click", function (event) {
            if (
                $(event.target).closest(".popup").length === 0 &&
                $(event.target).attr("id") !== "showPopupBtn"
            ) {
                closePopup();
            }
        });
    });
  </script>
</body>