<body>
  <%= stylesheet_link_tag "custom_home", media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "custom_home"%>
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <%= link_to(image_tag("stockMasterLogo.png", alt: "Stock Master Logo", style: "height:50px",), "/")%>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="font-size: 18px;padding-left: 20px">Hello <%= @username%>,</a>
          </li>
          <li class="nav-item"><%= link_to "Supply Product", orders_create_path, class: "nav-link", style: "font-size: 19px;" %></li>
          <li class="nav-item"><%= link_to "Track order", orders_track_path, class: "nav-link", style: "font-size: 19px;" %></li>
          </ul>
        </li>
        </ul>
        <form class="d-flex " style="flex-grow: 1;padding-left: 20px; padding-right: 20px">
          <input class="form-control me-2 ms auto" type="search" placeholder="Search for products" aria-label="Search" id="searchBar" oninput="search()">
          <input type="button" value="Search" id="searchBtn" onclick="search()" class="btn btn-outline-success"/>
        </form>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="margin-right: 20px;">
          <li class="nav-item">
          <button class="btn btn-outline-secondary addProductBtn">Add new product</button>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to "Suppliers Info", suppliers_info_path, class: "btn btn-outline-secondary"%>
          </li>
        </ul>
        <div style = "padding-left: 20px;margin-right: 10px;" >
        <%= button_to "Log out", Current.session, method: :delete, class: "btn btn-outline-warning"%>
        </div>
      </div>
    </div>
  </nav>
  <% if (notice)%>
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="height:55px">
      <p style="color: green; margin-bottom: 0px;"><%= notice %></p>
    </div>
    <script>
      setTimeout(function() {
        document.querySelector('.alert').remove();
      }, 1600);
    </script>
  <%end %>
  <% if (alert)%>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="height:55px">
      <p style="color: red; margin-bottom: 0px;"><%= alert %></p>
    </div>
    <script>
      setTimeout(function() {
        document.querySelector('.alert').remove();
      }, 1600);
    </script>
  <%end %>
  <div class="container-fluid " style="width: 90%;margin-top: 20px">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th style="padding: 11px;"><p class="fw-bold" style="margin-bottom: 0px;font-size: 1.65rem;color: #0076CE;">Product Name</p></th>
          <th style="padding: 11px;"><p class="fw-bold" style="margin-bottom: 0px;font-size: 1.65rem;color: #0076CE;">Category</p></th>
          <th style="padding: 11px;"><p class="fw-bold" style="margin-bottom: 0px;font-size: 1.65rem;color: #0076CE;">Quantity<span style="float: right;">Warehouse</span></p></th>
          <th style="padding: 11px;"><p class="fw-bold" style="margin-bottom: 0px;font-size: 1.65rem;color: #0076CE;">Price</p></th>
          <th style="padding: 11px; width:22%;"><p class="fw-bold" style="margin-bottom: 0px;font-size: 1.65rem;color: #0076CE;">Ordering</p></th>
        </tr>
      </thead>
      <tbody>
        <% @stock.to_a.sort_by! { |data| data.product_name.scan(/\d+/).map(&:to_i) }.each do |data| %>
          <tr>
            <td style="padding: 14px;font-size: 1.28rem;vertical-align: middle;" class="ProductName"><%= data.product_name %></td>
            <td style="padding: 14px;font-size: 1.28rem;vertical-align: middle;"><%= data.category %></td>
            <td style="padding: 14px;font-size: 1.28rem;vertical-align: middle;"><%= data.quantity %><span style="float: right;"><%= data.warehouse%></span></td>
            <td style="padding: 14px;font-size: 1.28rem;vertical-align: middle;"><%= number_with_precision(data.price, precision: 2) %></td>
            <td style="padding: 14px;font-size: 1.28rem;vertical-align: middle;">
              <button class="btn btn-outline-dark orderBtn" style ="font-size: 18px;" data-productorder="<%= data.id %>">Order Now</button>
              <button class="btn btn-outline-dark shipBtn" style ="font-size: 18px;float: right;" data-product="<%= data.id %>">Ship to warehouse</button>
              <div class="overlay" id="overlay">
                <div class="popup">
                  <%= form_with(url: orders_ship_path, method: :post) do |form| %>
                    <div class="form-row">
                      <div class="form-group col">
                        <%= form.label :"Warehouse:", style: "display: block; font-size: 18px"  %>
                        <%= form.text_field :warehouse_name, required: true, class: "form-control", id: "warehouse", style: "width: 310px;"%>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col">
                        <%= form.label :"Quantity:", style: "display: block; font-size: 18px; margin-top: 5px;"  %>
                        <%= form.text_field :quantity, required: true, class: "form-control", id: "quantity", style: "width: 310px;"%>
                      </div>
                    </div>
                    <%= hidden_field_tag :ship_product_id, "none" %>
                    <div class="button-container">
                      <button type="submit" class="btn btn-primary" style="margin-top: 15px;">Submit</button>
                      <button type="button" class="btn btn-secondary" id="closePopupBtn" style="margin-top: 15px; margin-left: 5px;">Cancel</button>
                    </div>
                  <%end%>
                </div>
              </div>
              <div class="overlay" id="overlayOrder">
                <div class="popup">
                  <%= form_with(url: orders_make_path, method: :post) do |form| %>
                    <div class="form-row">
                      <div class="form-group col">
                        <%= form.label :"Quantity:", style: "display: block; font-size: 18px; margin-top: 5px;"  %>
                        <%= form.text_field :quantity, required: true, class: "form-control", id: "quantity", style: "width: 310px;"%>
                      </div>
                    </div>
                    <div class="form-row">
                      <%= form.label :supplier, "Supplier", style: "font-size: 18px;" %>
                      <%= form.select :supplier, @suppListFiltered, { prompt: 'Choose...' }, class: "form-control form-select mb-3", required: true%>
                    </div>
                    <%= hidden_field_tag :order_product_id, "none" %>
                    <div class="button-container">
                      <button type="submit" class="btn btn-primary" style="margin-top: 15px;">Submit</button>
                      <button type="button" class="btn btn-secondary" id="closePopupBtnOrder" style="margin-top: 15px; margin-left: 5px;">Cancel</button>
                    </div>
                  <%end%>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="overlay" id="overlayProduct">
      <div class="popupProd">
        <%= form_with(url: home_add_path, method: :post) do |form| %>
          <div class="form-row" style="display: flex; justify-content: space-between;">
            <div class="form-group col ">
              <%= form.label :"Product Name:", style: "display: block; font-size: 18px;"  %>
              <%= form.text_field :product_name, required: true, class: "form-control", id: "quantity", style: "width: 250px;"%>
            </div>
            <div class="form-group col ">
              <%= form.label :"Category:", style: "display: block; font-size: 18px; margin-left: 15px" %>
              <%= form.text_field :category, required: true, class: "form-control", id: "quantity", style: "width: 210px; margin-left: 15px"%>
            </div>
          </div>
          <div class="form-row" style="display: flex; justify-content: space-between;">
            <div class="form-group col">
              <%= form.label :"Quantity:", style: "display: block; font-size: 18px; margin-top: 14px;" %>
              <%= form.text_field :quantity, required: true, class: "form-control", id: "quantity", style: "width: 250px;"%>
            </div>
            <div class="form-group col">
              <%= form.label :"Price:", style: "display: block; font-size: 18px; margin-top: 14px;margin-left:15px;" %>
              <%= form.text_field :price, required: true, class: "form-control", id: "quantity", style: "width: 210px; margin-left:15px;"%>
            </div>
          </div>
          <div class="form-row" style="display: flex; justify-content: space-between;">
            <div class="form-group col" >
              <%= form.label :"Warehouse:", style: "display: block; font-size: 18px; margin-top: 14px;" %>
              <%= form.text_field :warehouse, required: true, class: "form-control", id: "quantity"%>
            </div>
          </div>
          <div class="button-container">
              <button type="submit" class="btn btn-primary" style="margin-top: 15px;">Submit</button>
              <button type="button" class="btn btn-secondary" id="closePopupBtnProduct" style="margin-top: 15px; margin-left: 5px;">Cancel</button>
            </div>
        <%end%>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    function showPopup() {
        $("#overlay").fadeIn();
        $("body").addClass("blur");
    }
    function showPopupProduct()
    {
        $("#overlayProduct").fadeIn();
        $("body").addClass("blur");
    }
    function showPopupOrder() {
        $("#overlayOrder").fadeIn();
        $("body").addClass("blur");
    }
    function closePopup() {
        $("#overlay").fadeOut();
        $("body").removeClass("blur");
    }
    function closePopupOrder() {
        $("#overlayOrder").fadeOut();
        $("body").removeClass("blur");
    }
    function closePopupProduct() {
        $("#overlayProduct").fadeOut();
        $("body").removeClass("blur");
    }
    $(document).ready(function () {
        $(".shipBtn").click(function () {
            var productName = $(this).data("product");
            showPopup();
            $("#ship_product_id").val(productName);
        });
        $(".orderBtn").click(function () {
            var productOrderName = $(this).data("productorder");
            showPopupOrder();
            $("#order_product_id").val(productOrderName);
        });
        $(".addProductBtn").click(function () {
            showPopupProduct();
        });
        $("#closePopupBtn").click(function () {
            closePopup();
        });
        $("#closePopupBtnOrder").click(function () {
            closePopupOrder();
        });
        $("#closePopupBtnProduct").click(function () {
            closePopupProduct();
        });
        $(document).on("click", function (event) {
            if (
                $(event.target).closest(".popup").length === 0 &&
                !$(event.target).hasClass("shipBtn") &&
                !$(event.target).hasClass("orderBtn") &&
                !$(event.target).hasClass("addProductBtn")
            ) {
                closePopup();
                closePopupOrder();
            }
        });
    });
  </script>
</body>
