<body>
  <%= stylesheet_link_tag "custom_home", media: 'all', 'data-turbolinks-track' => true %>

    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <%= link_to(image_tag("stockMasterLogo.png", alt: "Stock Master Logo", style: "height:50px",), "/")%>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="font-size: 18px;padding-left: 20px">Hello <%= @username%>,</a>
          </li>
          <li class="nav-item"><%= link_to "Supply Product", orders_create_path, class: "nav-link", style: "font-size: 19px;" %></li>
          <li class="nav-item"><%= link_to "Track order", orders_track_path, class: "nav-link", style: "font-size: 19px;" %></li>
          </ul>
        </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="margin-right: 20px;">
          <li class="nav-item">
            <%= link_to "Suppliers Info", suppliers_info_path, class: "nav-link", style: "font-size: 19px;" %>
          </li>
        </ul>
        <div style = "padding-left: 30px;" >
        <%= button_to "Log out", Current.session, method: :delete, class: "btn btn-outline-warning"%>
        </div>
      </div>
    </div>
    </nav>
    <% if (notice)%>
      <div class="alert alert-success alert-dismissible fade show" role="alert" style="height:55px  ">
        <p style="color: green; margin-bottom: 0px;"><%= notice %></p>
      </div>
      <script>
        setTimeout(function() {
          document.querySelector('.alert').remove();
        }, 1600);
      </script>
    <%end %>

  <div class="card" style="width: 95%;">
    <h1>Orders</h1>
    <div class="card-container" id="cardContainer">
    <% @orders.each do |order|%>
      <div class="card mx-auto" style="width: 95%;margin-top: 20px;">
          <div class="card-body" >
              <h2><%= order.orderType%> Number: <%= order.order_number %></h2>
              <p style="padding-left: px;"><strong>Stock Name:</strong> <%= Stock.find_by(id: order.stock_id).product_name%></p>
              <p><strong>Quantity:</strong> <%= order.quantity %> </p>
              <p><strong>Status:</strong> <%= order.status %> </p>
              <p><strong>Ordered on:</strong> <%= order.order_date %> </p>
              <p><strong>
                <% if order.orderType == "Supply" %>
                  Amount: </strong> <%= number_with_precision(order.total_amount, precision: 2) %> </p>
                <% elsif order.orderType == "Shipment" %>
                  Warehouse: </strong> <%= order.address %> </p>
                <% else %>
                  Supplier: </strong> <%= order.address %> </p>
                <% end %>
                <% if order.status == "In transit" %>
                  <%= form_tag cancel_order_path, method: :post, style: "display: inline-block;float: right;padding-right: 50px" do %>
                    <%= hidden_field_tag :order_id, order.id %>
                    <a style="pfloat: right;"><%= submit_tag 'Cancel Order', class: "btn btn-outline-danger" %></a>
                  <% end %>
                <% elsif order.status == "Delivered" %>
                  <p style = "color: green; margin-right: 25px;"> Delivered </p>
                <% else %>
                  <p style = "color: red; margin-right: 15px;"> Cancelled </p>
                <% end %>
          </div>
      </div>
    <%end%>
    </div>
  </div>

  <style>
  
  .card {
    width: calc(100% - 10px);
    margin: 20px auto;
    border-radius: 8px;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
  }
  
  .card-container {
    display: flex;
    align-items: center;
    flex-direction: column; /* Change flex-direction to column */
  }
  
  .card-body {
    align-content: center;
    background-color: #f2eff4;
    border-radius: 8px;
    padding: 20px;
  }
  
  .card-body h2 {
    margin-top: 0;
    font-size: 25px;
    align-items: center;
    
  }
  
  .card-body p {
    margin: 5px 0;
    align-items: end;
    display: inline-block;
    font-size: 20px;
    padding-left: 5rem;                                                                                                                                                                                                                  rem; */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #dddddd;
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  
  </style>
</body>
