<body>
<%= stylesheet_link_tag "custom_supplier", media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag "custom_home"%>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <%= link_to(image_tag("stockMasterLogo.png", alt: "Stock Master Logo", style: "height:50px",), "/")%>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="font-size: 18px;padding-left: 20px">Hello <%= @username%>,</a>
          </li>
          <li class="nav-item"><%= link_to "Supply Product", orders_create_path, class: "nav-link", style: "font-size: 19px;" %></li>
          <li class="nav-item"><%= link_to "Track order", orders_track_path, class: "nav-link", style: "font-size: 19px;" %></li>
          </ul>
        </li>
        </ul>
        <form class="d-flex " style="flex-grow: 1;padding-left: 20px; padding-right: 20px">
          <input class="form-control me-2 ms auto" type="search" placeholder="Search for suppliers" aria-label="Search" id="searchBar" oninput="search()">
          <input type="button" value="Search" id="searchBtn" onclick="search()" class="btn btn-outline-success"/>
        </form>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="margin-right: 20px;">
          <li class="nav-item">
            <%= link_to "Add new supplier", suppliers_new_path, class: "btn btn-outline-secondary" %>
          </li>
        </ul>
        <div style = "padding-left: 4px;padding-right: 15px;" >
        <%= button_to "Log out", Current.session, method: :delete, class: "btn btn-outline-warning"%>
        </div>
      </div>
    </div>
    </nav>
    <% if (notice)%>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p class="text-secondary text-center" style="margin-bottom: 0px;"><%= notice %></p>
        <script>
          setTimeout(function() {
            document.querySelector('.alert').remove();
          }, 1800); 
        </script>
      </div>
    <%end %>
    <br>

    <div class="container-fluid " style="width: 90%;margin-top: 20px">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th style="padding: 11px;"><p class="fw-bold" style="margin-bottom: 0px;font-size: 1.65rem;color: #0076CE;">Supplier Name</a></th>
            <th style="padding: 11px;"><p class="fw-bold" style="margin-bottom: 0px;font-size: 1.65rem;color: #0076CE;">Email</a></th>
            <th style="padding: 11px;"><p class="fw-bold" style="margin-bottom: 0px;font-size: 1.65rem;color: #0076CE;">Contact No</a></th>
            <th style="padding: 11px;"><p class="fw-bold" style="margin-bottom: 0px;font-size: 1.65rem;color: #0076CE;">Address</a></th>
          </tr>
        </thead>
        <tbody>
          <% @supps.each do |supplier| %>
            <tr>
              <td style="padding: 14px;font-size: 1.28rem;vertical-align: middle;"  class="ProductName"><%= supplier.supplier_name %></td>
              <td style="padding: 14px;font-size: 1.28rem;vertical-align: middle;"><%= supplier.email %></td>
              <td style="padding: 14px;font-size: 1.28rem;vertical-align: middle;"><%= supplier.phone %></td>
              <td style="padding: 14px;font-size: 1.28rem;vertical-align: middle;"><%= supplier.address %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

</body>